<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomizeGPT</title>
    <style>
       
    </style>
    <script>
        function login() {
            var account = document.getElementById("account").value;
            var password = document.getElementById("password").value;


            alert(`Login function called: Account=${account}, Password=${password}`);      
        }
    </script>
</head>


<body>
    <!-- 左側 -->
    <div>


    </div>
    <!-- 右側 -->
     <div>
        <div>
            <label>帳號:</label><input id="account">
        </div>
        <div>
            <label>密碼:</label><input id="password" type="password">
        </div>
        <div>
            <button onclick="login()">Login</button>
        </div>
     </div>
</body>


</html>
